/vendor
/node_modules
/public/build
/public/hot
/public/storage
/.phpunit.cache
.phpunit.result.cache
/.fleet
/.idea
/.vscode
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/storage/*.key
/storage/*
!/storage/app/
!/storage/app/public/
!/storage/app/public/images/
!/storage/app/public/images/games/
