html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

main {
    flex: 1;
}

.footer {
    background-color: #000;
    color: #dcdcdc;
    text-align: center;
    padding: 2rem 1rem;
    border-top: 2px solid #222;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.footer-logo img {
    height: 32px;
}

.footer-brand {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #8DA8CF;
}

.footer-social p {
    margin-bottom: 0.5rem;
    color: #fff;
    font-weight: 600;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social-icons a {
    color: #fff;
    font-size: 3rem;
}

.footer-bottom {
    font-size: 0.75rem;
    line-height: 1.4;
    max-width: 900px;
    color: #aaa;
}
