* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #000;
    border-bottom: 2px solid #1e1e1e;
    border-width: 2px;
    color: #fff;
    padding: 0.7rem 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.navbar-logo img {
    height: 40px;
    width: auto;
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.btn-auth {
    background-color: #8fabd4;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

.btn-auth:hover {
    background-color: #7b96c0;
}

.cart-icon i {
    color: #fff;
    font-size: 1.2rem;
}

